{% extends 'home/index.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="row">

        {% for i in desc_post %}
            <div class="col-md-12" style="margin: 1%">
                <h3>{{ i.judul }}</h3><br>
                <h5>{{ i.deskripsi }}</h5><br>
                <a href="{% url 'post' i.id %}" class="btn btn-default" style="margin-bottom: 1%" >Details</a>
                {% if user.is_authenticated %}
                <a href="#" data-href="{% url 'delete' i.id %}" type="button" style="margin-bottom: 1%" class="btn btn-default" data-toggle="modal" data-target="#myModal" >Delete</a>
                {% endif %}
                <hr style="border-top: 3px double rgba(46,49,46,0.56) ">
            </div>

        <div class="modal fade" id = "myModal" role="dialog" >
            <div class="modal-dialog">
                <div class = "modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Apakah Anda Yakin?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Apa anda yakin ingin menhapus Data ini?</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-danger btn-ok" >Ya</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <script>
        $('#myModal').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
        </script>
    </div>
{% endblock %}

